@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");

body {
  display: flex;
  align-items: center;
  font-family: "Cinzel Decorative", cursive;
  background-color: #e0d4d4;
  background-image: linear-gradient(
    180deg,
    #4a0909 0%,
    #f50707 54%,
    #030303 100%
  );
  background-repeat: no-repeat;
  height: 100vh;  
  justify-content: space-around;
  flex-direction: column;
}

.secpage {
  display: flex;
  flex-direction: column;
  align-items: center;  
  color: white;  
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(196, 177, 107, 0.79);
}

h4,
h1 {
  margin: 0;
}

.instructions {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  color: white;
  font-weight: bolder;
  font-size: 21px;  
}

.play {
  border-radius: none;
  border-color: white;
  background-color: rgb(143, 11, 11);
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding: 9px 16px;
  margin-bottom: 50px;
}
