// animations

.shine {
	animation: brillo .5s ease;
}

@keyframes brillo {
    0% { border-bottom-color:white; }
    25%, 75% { border-bottom-color:var(--primary-color); }
    100% { border-bottom-color:white; }
  }


.slide-right {
	-webkit-animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-right {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(-3430px);
			  transform: translateX(-3430px);
	}
  }
  @keyframes slide-right {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(-3430px);
			  transform: translateX(-3430px);
	}
  }


.crossout {
position: relative;
}
.crossout::after {
content: ' ';
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 3px;
background: white;
animation-name: crossout;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

@keyframes crossout {
    0%   { width : 0;};
    100% { width: 100%;}
    }

.flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes flip-in-ver-right {
	0% {
	  -webkit-transform: rotateY(-80deg);
			  transform: rotateY(-80deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateY(0);
			  transform: rotateY(0);
	  opacity: 1;
	}
  }
  @keyframes flip-in-ver-right {
	0% {
	  -webkit-transform: rotateY(-80deg);
			  transform: rotateY(-80deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateY(0);
			  transform: rotateY(0);
	  opacity: 1;
	}
  }
  

//   animacion monja, slace up

.scale-up-center {
    opacity: 100%;
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.190, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
	100% {
		-webkit-transform: translate(-50%, 35%)scale(15);
		transform: translate(-50%, 35%)scale(15);
	}
  }
  @keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
	100% {
	  -webkit-transform: translate(-50%, 35%)scale(15);
			  transform: translate(-50%, 35%)scale(15);
	}
  }
  


  

  @media only screen and (min-width: 600px) {
	@-webkit-keyframes slide-right {
		0% {
		  -webkit-transform: translateX(0);
				  transform: translateX(0);
		}
		100% {
		  -webkit-transform: translateX(-3350px);
				  transform: translateX(-3350px);
		}
	  }
	  @keyframes slide-right {
		0% {
		  -webkit-transform: translateX(0);
				  transform: translateX(0);
		}
		100% {
		  -webkit-transform: translateX(-3350px);
				  transform: translateX(-3350px);
		}
	  }
  }
  @media only screen and (min-width: 768px) {
	@-webkit-keyframes slide-right {
		0% {
		  -webkit-transform: translateX(0);
				  transform: translateX(0);
		}
		100% {
		  -webkit-transform: translateX(-3200px);
				  transform: translateX(-3200px);
		}
	  }
	  @keyframes slide-right {
		0% {
		  -webkit-transform: translateX(0);
				  transform: translateX(0);
		}
		100% {
		  -webkit-transform: translateX(-3250px);
				  transform: translateX(-3250px);
		}
	  }
  }

  @media only screen and (min-width: 992px) {
	@-webkit-keyframes slide-right {
		0% {
		  -webkit-transform: translateX(0);
				  transform: translateX(0);
		}
		100% {
		  -webkit-transform: translateX(-3100px);
				  transform: translateX(-3100px);
		}
	  }
	  @keyframes slide-right {
		0% {
		  -webkit-transform: translateX(0);
				  transform: translateX(0);
		}
		100% {
		  -webkit-transform: translateX(-3200px);
				  transform: translateX(-3200px);
		}
	  }
  }


//  /*  */

// #I {
// 	opacity: 1;
// 	animation: flickerI 2s linear  reverse infinite;
// }
// #I::after {
// 	content: '';
// 	-webkit-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
// 	-moz-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
// 	box-shadow: -150px 0px 60px 8px rgba(255,255,255,1);
// }

// @keyframes flickerI {
// 	0% {
// 		opacity: 0.4;
// 	}
// 	5% {
// 		opacity: 0.5;
// 	}
// 	10% {
// 		opacity: 0.6;
// 	}
// 	15% {
// 		opacity: 0.85;
// 	}
// 	25% {
// 		opacity: 0.5;
// 	}
// 	30% {
// 		opacity: 1;
// 	}
// 	35% {
// 		opacity: 0.1;
// 	}
// 	40% {
// 		opacity: 0.25;
// 	}
// 	45% {
// 		opacity: 0.5;
// 	}
// 	60% {
// 		opacity: 1;
// 	}
// 	70% {
// 		opacity: 0.85;
// 	}
// 	80% {
// 		opacity: 0.4;
// 	}
// 	90% {
// 		opacity: 0.5;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }